@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 90vh;
    margin: 0;
    width: 100%;
}

body {
    background-color: #18d26e;
}

.container {
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 20px;
    max-width: 1200px;
    width: auto;
    text-align: center;
    box-shadow: 25px 25px 50px 50px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

h3 {
    letter-spacing: 2px;
    opacity: 0.8;
    padding-bottom: 1rem;
}

p {
    padding-top: 1.5rem;
}

.joke {
    font-size: 30px;
    line-height: 40px;
    margin: 1rem auto;
    max-width: auto;
}

.btn {
    background-color: #18d26e;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    padding: 14px 40px;
    opacity: 0.8;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
    font-weight: bold;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: 0;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.categories {
    line-height: 4em;
}

.customise h2,
label {
    margin-top: 1rem;
}

hr {
    border: 0;
    margin-top: 1rem;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

@media only screen and (max-width: 952px) {
    label.logo {
        font-size: 1.5rem;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .container {
        margin-top: auto;
        max-width: 400px;
        overflow-wrap: break-word;
    }
    main {
        overflow: auto;
    }
}

@media only screen and (max-width: 1160px) {
    main {
        overflow: auto;
        padding-top: 2rem;
    }
    .container {
        margin-top: auto;
        max-width: 800px;
        overflow-wrap: break-word;
    }
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}

@media only screen and (max-width: 500px) {
    label.logo {
        font-size: 1rem;
    }
    .container {
        margin-top: auto;
        max-width: 400px;
        overflow-wrap: break-word;
    }
    form,
    input {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}